body{
    font-family: 'Times New Roman', Times, serif;
}
h2 , h4 ,h5,h3 {
    font-weight: 900;
}
input:focus ,textarea:focus {
    border-color: rgba(255,168,39,255) !important;
    box-shadow:  0 0 0.25rem rgb(255 234 202) !important;
}
.result-1{
    background-color: rgba(255,168,39,255);
    height: 100%;
}
.card-header{
    background-color: rgba(255,168,39,255);
}
input::-webkit-inner-spin-button , input::-webkit-outer-spin-button{
    -webkit-appearance: none !important;
}
iconify-icon{
    cursor: pointer;
    transition: 0.5s;
    margin-right: 10px;
}
iconify-icon:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
#rimg{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: 30px;
}
/* buttons */
button ,#img{
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid  rgba(255,168,39,255);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color:  rgba(255,168,39,255);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  button::before ,#img::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  button:hover, #img:hover {
    color: #fff;
    border: 1px solid  rgba(255,168,39,255);
  }
  
  button:hover::before ,#img:hover::before {
    box-shadow: inset 0 0 0 10em  rgba(255,168,39,255);
  }
  #result-page{
    display: none ;
  }
  input::file-selector-button {
    background-color:rgba(255,168,39,255) ;
    color: #fff;
    border-color:rgba(255,168,39,255)  ;
  }